<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokedex3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76D7A3931E8D3EC500656A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D7A3A71E8D3EC600656A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D7A3B21E8D3EC600656A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
